# Tuple Questions

1.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.

In [ ]:
t = (5, 10, 15, 20, 25)
t[2]

15

2.	Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a Python program to achieve this.

In [ ]:
t = (100, 200, 300, 400, 500)
t[-3]

300

3.	Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python program to achieve this.

In [ ]:
t = (1, 2, 3, (4, 5, 6))

result = t[3][2]

print(result)

6

4.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.

In [ ]:
t = (5, 10, 15, 20, 25)
slice = t[1:4]
print(slice)

(10, 15, 20)

5.	Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'), how can you access the last element without knowing its index? Write a Python program to achieve this.

In [ ]:
t = ('Python', 'Java', 'C++', 'JavaScript')
t[-1]

'JavaScript'

6.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python program to achieve this.

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

7.	Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.

In [ ]:
t = ('x', 'y', 'z', 'a')
t[1]

'y'

8.	Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'), how can you count the number of occurrences of 'apple'? Write a Python program to achieve this.

In [ ]:
t=('apple', 'banana', 'apple', 'cherry', 'apple')
t.count('apple')

3

9.	Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? Write a Python program to achieve this.

In [ ]:
t=(True, False, True, False)
t.count(True)

2

10.	Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.

In [ ]:
t=('Python', 3.8, True, (1, 2, 3))
t[3]

(1, 2, 3)

11.	Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
t = (10, 20, 30)
my_list = list[t]
print(my_list)

list[10, 20, 30]

12.	Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.

In [ ]:
t = (7, 14, 21, 28, 35)
mx = max(t)
print("Max Element",mx)
mn = min(t)
print("Min Element",mn)

Max Element 35
Min Element 7

13.	Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.

In [ ]:
t = (2, 4, 6, 8, 10)
res = sum(t)
print("Sum is:", res )

Sum is: 30

14.	Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.

In [ ]:
t = ('a', 'b', 'c', 'd')


reversed_tuple = t[::-1]

print(reversed_tuple)

('d', 'c', 'b', 'a')

15.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.

In [ ]:
t1=(1, 2, 3)
t2=(1, 2, 3, 4)
if t1 == t2:
       print("Tuples are equal")
else:
       print("Tuples are not equal")

Tuples are not equal

16.	Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.

In [ ]:
# The given tuple
my_tuple = (10, 20, 30, 40)

# Unpack the tuple into separate variables
a, b, c, d = my_tuple

# Print the variables to show the result
print(a)
print(b)
print(c)
print(d)

10
20
30
40

17.	Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this.

In [ ]:
t = (3, 6, 9, 12, 15)
s=''.join(map(str, t))
print(s)

3691215

18.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

# Iterating through the tuple
for item in my_tuple:
    print(item)

1
2
3
4
5

19.	Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into a dictionary with keys as index positions? Write a Python program to achieve this.

In [ ]:
my_tuple = (100, 200, 300, 400)

my_dict = {index: value for index, value in enumerate(my_tuple)}
print(my_dict)

{0: 100, 1: 200, 2: 300, 3: 400}

20.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

# Set Interview **Questions**

Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
if 30 in my_set:
  print("30 is in the set")

30 is in the set

Question 2: Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

Question 3: Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
my_set.remove(30)
print(my_set)

{50, 20, 40, 10}

Question 4: Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
myset = set1.union(set2)
print(myset)

{1, 2, 3, 4, 5}

Question 5: Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
myset = set1.intersection(set2)
print(myset)

{30}

Question 6: Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}. How can you find elements that are in set1 but not in set2? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
set1.difference(set2)

{10, 20}

Question 7: Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)

{1, 3}

Question 8: Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(f"Set after clearing: {my_set}")

Set after clearing: set()

Question 9: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set2-set1

{4, 5}

Question 10: Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.

In [3]:
my_set = {10, 20, 30, 40, 50}

print(len(my_set))

5

Question 11: Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python program to explain why

In [5]:
set1 = {10, 20, 30}
set2 = frozenset({30, 40, 50})
print(set1)
print(set2)
set2.add(60)

{10, 20, 30}
frozenset({40, 50, 30})

AttributeError: 'frozenset' object has no attribute 'add'

Question 12: Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.

In [14]:
my_set = {1, 2, 3}
set = {4, 5, 6}
my_set.update([4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

Question 13: Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another set { 'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.

In [16]:
my_set = {'apple', 'banana', 'cherry'}
set =  { 'apple', 'banana', 'cherry', 'date'}
my_set.issubset(set)
print(my_set)

{'banana', 'apple', 'cherry'}

Question 14: Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a Python program to achieve this.

In [17]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}
set1.issubset(set2)
print(set1)

{1, 2, 3, 4}

Question 15: Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.

In [19]:
set1 = {1, 2, 3, 4, 5}
my_list = list(set1)
print(my_list)

[1, 2, 3, 4, 5]

Question 16: Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and convert it into a set? Write a Python program to achieve this

In [43]:
my_list = [10, 20, 30, 40, 50, 10, 20]
unique_list = list(dict.fromkeys(my_list))
print(unique_list)

my_set = set(unique_list)
print(my_set)

[10, 20, 30, 40, 50]

TypeError: 'set' object is not callable

Question 17: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.

In [48]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
if set1.isdisjoint(set2):
 print("The set is disjoints")
else:
 print("The set is not disjoints")

The set is not disjoints

Question 18: Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python program to achieve this.

In [51]:
my_set = {10, 20, 30}
for item in my_set:
 print(item)

10
20
30

Question 19: Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.

In [54]:
 my_set = {10, 20, 30, 40, 50}
 a = (max(my_set))
 print("Max Element:",a)
 b = (min(my_set))
 print("Min Element:",b)

Max Element: 50
Min Element: 10

Question 20: Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? Write a Python program to achieve this.

In [58]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
new_set = set1.union(set2)
print(new_set)

{1, 2, 3, 4, 5, 6}

# Dictionary Interview Questions

Question 1: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you access the value associated with key 'b'? Write a Python program to achieve this.

In [5]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict['b']

20

Question 2: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}, how can you update the value of 'age' to 30? Write a Python program to achieve this.

In [17]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
a = my_dict.update({'age': 30})
# print(a)

Question 3: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you remove the key 'b'? Write a Python program to achieve this.

In [22]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict.pop('b')

20

Question 4: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you add a new key-value pair 'city': 'London'? Write a Python program to achieve this.

In [27]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['city'] = 'London'
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'London'}

Question 5: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all keys? Write a Python program to achieve this.

In [28]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.keys()

dict_keys(['x', 'y', 'z'])

Question 6: Suppose you have a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all values? Write a Python program to achieve this.

In [29]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.values()

dict_values([1, 2, 3])

Question 7: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you check if key 'b' exists? Write a Python program to achieve this.

In [32]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
if 'b' in my_dict:
  print("b is exist")
else:
  print("b is not exist")

b is not exist

Question 8: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you iterate over its key-value pairs? Write a Python program to achieve this.

In [41]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
for key, value in my_dict.items():
  print(key, ":", value)

a : 10
b : 20
c : 30

Question 9: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you clear all elements from the dictionary? Write a Python program to achieve this.

In [43]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.clear()
print(my_dict)

{}

Question 10: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you find its length? Write a Python program to achieve this.

In [46]:
my_dict = {'name': 'Alice', 'age': 30}
a = len(my_dict)
print(a)

2

Question 11: Given two dictionaries dict1 = {'a': 1, 'b': 2} and dict2 = {'c': 3, 'd': 4}, how can you merge them? Write a Python program to achieve this.

In [50]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merge = {**dict1, **dict2}
print(merge)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Question 12: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25}, how can you copy it to another dictionary? Write a Python program to achieve this.

In [51]:
my_dict = {'name': 'John', 'age': 25}
new = my_dict.copy()
print(new)

{'name': 'John', 'age': 25}

Question 13: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you get a default value when accessing a missing key? Write a Python program to achieve this.

In [58]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
value = my_dict.get('missing_key', "Key not found")
print(value)

Key not found

Question 14: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you convert it into a list of tuples? Write a Python program to achieve this.

In [61]:
my_dict = {'name': 'Alice', 'age': 30}
c = tuple(my_dict)
print(c)

('name', 'age')

Question 15: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you sort it by keys? Write a Python program to achieve this.

In [62]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
sorted = dict(sorted(my_dict.items()))
print(sorted)

{'a': 10, 'b': 20, 'c': 30}

Question 16: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you delete the 'age' key using the pop() method? Write a Python program to achieve this.

In [64]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict.pop('age')
print(my_dict)

{'name': 'Alice'}

Question 17: Given a dictionary my_dict = {'x': 10, 'y': 20}, how can you check if it is empty? Write a Python program to achieve this.

In [65]:
my_dict = {'x': 10, 'y': 20}
if 'empty' in my_dict:
  print("My dictionary is empty")
else:
  print("My dictonary is not empty")

My dictonary is not empty

Question 18: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20}, how can you update it with another dictionary {'c': 30, 'd': 40}? Write a Python program to achieve this.

In [67]:
my_dict = {'a': 10, 'b': 20}
my_dict.update({'c': 30, 'd': 40})
print(my_dict)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

Question 19: Given a dictionary my_dict = {'apple': 3, 'banana': 5}, how can you get the key associated with the maximum value? Write a Python program to achieve this.

In [76]:
my_dict = {'apple': 3, 'banana': 5}
maxk = max(my_dict, key=my_dict.get)
print(maxk)

banana

Question 20: Suppose you have a dictionary my_dict = {'a': 1, 'b': 2, 'c': 3}, how can you reverse its key-value pairs? Write a Python program to achieve this.

In [78]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict = {value: key for key, value in my_dict.items()}
print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}